body {
  background-color: #3BD4AE;
}

h1{
  margin-top: 0;
}

.contacto__navbar{
  background-color: #3BD4AE;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;
}

.contacto__navbar-link{
  color: #3BD4AE;
}
.contenedor_principal{
  background-image: url(../assets/Banner/4.jpg);
  min-height: 100vh;
  background-size: cover;
}

.logo__fisy-mobile{
  margin: auto;
  display: none;
}

.contenedor_contenio_principal{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenedor-formulario-logo{
  flex-basis: 25%;
  padding: 0 4.5rem;
}

.contenedor-formulario-logo img{
  width: 100%;
  margin-top: 6rem;
  width: 10rem;
}

.contenedor__servicio-logos{
  display: flex;
  justify-content: space-around;
}
.contenedor-imagen-servicio{
  flex-basis: 50%;
}

.contenedor-imagen-servicio img{
  width: 490px;
}

.contendor-iconos{
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
}

.contendor-iconos img{
  width: 64px;
}

.form__label{
  display: block;
  color: white;
}

.form__input {
  display: block;
  border-style: none;
  border-radius: 8px;
  height: 2rem;
}

.form__textarea{
  resize: vertical;
  display: block;
  border-style: none;
  width: 80%;
  border-radius: 8px;
  max-height: 8rem;
  min-height: 3rem;
}

.submit__btn-contacto{
  background-color: #FF7F30;
  width: 8rem;
  border-style: none;
  border-radius: 8px;
  padding: .5rem;
  margin: 1rem 0;
  color: white;
  transition: all 0.3s ease;
}

.submit__btn-contacto:hover{
  transform: scale(1.1);
  background-color: #d66925;
}

footer{
  background-color: #3BD4AE;
}
.titulo__mobil h3 {
  color: #3BD4AE;
}
.mobile__nav {
  background-color:#3BD4AE;
}


@media (max-width: 1100px){
  .contenedor-imagen-servicio img{
    width: 340px;
  }
  
  .contendor-iconos img{
    width: 50px;
  }
}

@media (max-width: 900px){
  .logo__fisy-mobile{
    display: block;
    width: 200px;
    position: relative;
    top: 60px;
    left: 10px
  }
  .logo__fisy-web{
    display: none;
  }
  .contenedor_contenio_principal{
    flex-direction: column-reverse;
  }
}

@media (max-width: 470px){
  .contenedor-imagen-servicio img{
    width: 250px;
  }
  
  .contendor-iconos img{
    width: 35px;
  }

  h1{
    font-size: 2rem;
  }

  .contenedor-formulario-logo{
    padding: 0 1rem;
  }

  .contenedor-formulario-logo{
    width: 100%;
  }

  #formulario-contacto{
    width: 90%;
    margin: auto;
  }

  .form__textarea{  
   max-width: 202px;
  }
}

