body {
  background-color: #3BD4AE;
}

h1{
  margin-top: 0;
}

.contacto__navbar{
  background-color: #3BD4AE;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;
}

.contacto__navbar-link{
  color: #3BD4AE;
}

.contenedor_contenio_principal{
  display: flex;
  justify-content: space-around;
  background-image: url(../assets/Banner/4.jpg);
  align-items: center;
  min-height: 100vh;
}

.contenedor-formulario-logo{
  flex-basis: 25%;
  padding: 0 4.5rem;
}

.contenedor-formulario-logo img{
  width: 100%;
  margin-top: 6rem;
  width: 10rem;
}

.contenedor__servicio-logos{
  display: flex;
  justify-content: space-around;
}
.contenedor-imagen-servicio{
  flex-basis: 50%;
}

.contenedor-imagen-servicio img{
  width: 490px;
}

.contendor-iconos{
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
}

.contendor-iconos img{
  width: 64px;
}

.form__label{
  display: block;
  color: white;
}

.form__input {
  display: block;
  border-style: none;
  border-radius: 8px;
  height: 2rem;
}

.form__textarea{
  display: block;
  border-style: none;
  width: 80%;
  border-radius: 8px;
  max-height: 4rem;
  max-width: 6rem;
}

.submit__btn-contacto{
  background-color: #FF7F30;
  width: 8rem;
  border-style: none;
  border-radius: 8px;
  padding: .5rem;
  margin: 1rem 0;
  color: white;
  transition: all 0.3s ease;
}

.submit__btn-contacto:hover{
  transform: scale(1.1);
  background-color: #d66925;
}

footer{
  background-color: #3BD4AE;
}

@media (max-width: 1100px){
  .contenedor-imagen-servicio img{
    width: 340px;
  }
  
  .contendor-iconos img{
    width: 50px;
  }
}