:root {
  --screen-width: 100vw;
}

body {
  scroll-behavior: smooth;
}

.experience__portrait-img {
  height: 100vh;
  margin-top: -50px;
}

.experience__navbar {
  background-color: #021d49;
}

.experience__description-container {
  position: absolute;
  top: 35%;
  /* background-color: green; */
  width: 60%;
  left: 6%;
  color: #fff;
  text-align: left;
}

.experience__description-title {
  font-size: 60px;
  line-height: 60px;
}

.experience__go-down-container {
  height: 50px;
}

.experience__go-down-btn {
  position: absolute;
  bottom: -35px;
  padding: 10px 22px;
  background-color: #021d49;
  border-radius: 50%;
  font-size: 60px;
}

.experience__go-down-btn:hover {
  border: 1px solid #02388a;

  bottom: -60px;
  transition: all 1s ease;
}

.experience__article {
  margin-bottom: 100px;
}

.experience__section-title {
  font-size: 3.5rem;
  color: #ff7f30;
  font-family: "Franklin Gothic Demi Cond", arial;
  text-align: center;
  /* margin-bottom: px !important; */
}


/* CAROUSEL */

/* .slider__main-container {
  width: 100% !important;
  background-color: red;
} */
.carousel__contenedor {
  position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: #fff;
  opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 100%;
}

.carousel__anterior {
  left: -30px;
}

.carousel__siguiente {
  right: -30px;
}

.carousel__lista {
  overflow: hidden;
}

.carousel__elemento {
  text-align: center;
  margin-right: 5px;
  border-radius: 10px;
  border: 1px solid lightgr;
}

.carousel__indicadores .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  background: rgb(150, 148, 148);
  opacity: .2;
  border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
  opacity: .5;
}

.carousel__indicadores .glider-dot.active {
  opacity: 1;
}

.experience__img-container {
  display: flex;  
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  width: 98%;
}

.experience__img-item {
margin: 5px;
width: 30vw;
height: 30vw;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.experiencia__contact-links {
  background-color: #021d49;
  padding: 5px 0px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

@media (max-width: 900px) {
  .home__portrait {
    height: 100vh;
    overflow-y:hidden;
  }

  .experiencia__branch-small-img {
    width: 150%;
    margin-left: 100px;
  }

  .experience__description-container {
    width:80%;
  }

  .experience__description-title {
    font-size: 15px;
    width: 100%;
    line-height: 30px;
    text-align: left;
  }

  .experience__description-description {
    font-size: 12px;
  }

  .experiencia__contact-links {
    padding: 5px 0px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:flex-start;
  }

  .experience__article {
    width: 100vw;
    overflow-x: hidden;
  }
}
