body {
  width: 100vw;
  overflow-x: hidden;
}


.home__navbar {
  background-color: #ff7f30;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.home__navbar-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home__navbar-link {
  display: inline-block;
  font-weight: 600;
  border-radius: 30px;
  text-align: center;
  padding: 3px 20px;
  margin: 20px 20px;
  text-decoration: none;
  width: 8rem;
  color: #5c0f8b;
  background-color: #fff;
}

.home__navbar-link-active {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__portrait {
  background-color: #5c0f8b;
  position: relative;
}

.home__portrait-img {
  margin-top: 70px;
  width: 100vw;
  margin-bottom: 0;
}

.index__contact-links {
  background-color: #5C0F8B;
  padding: 2px 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.index__contact-link {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  padding: 0px 10px;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
  z-index: 2;
}

.index__go-down-container {
  height: 50px;
}

.index__go-down-btn {
  margin-top: 2rem;
  padding: 10px 22px;
  background-color: #5C0F8B;
  border-radius: 50%;
  font-size: 60px;
}

.index__go-down-btn:hover {
  border: 1px solid #6b13a1;
  margin-top: 3rem;
  transition: all 1s ease;
}

.home__contact-links {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  right: 5%;
}

.home__contact-img--portrait {
  width: 4rem;
  margin-bottom: 20px;
}

.home__start-btn-container {
  position: absolute;
  bottom: 16%;
  left: 6%;
}

.home__start-link {
  text-decoration: none;
  background-color: #3bd4ae;
  color: #fff;
  padding: 15px 25px;
  width: 15%;
  border-radius: 30px;
  font-weight: 600;
}

.home__article {
  text-align: center;
}

.home__section-title {
  font-size: 3.5rem;
  color: #ff7f30;
  margin: 6rem 0 4rem 0;
  font-family: "Franklin Gothic Demi Cond", arial;
  font-weight: 100 !important;
}

.home__article-container {
  display: flex;
  width: 85%;
  margin: auto;
  margin-bottom: 4rem;
}

.home__article-individual {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  /* border: 1px solid black; */
  margin: 1rem;
  /* padding: 5%; */
}

.home__service-img {
  width: 70%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.home__service-header {
  color: #ff7f30;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 30px;
  margin-bottom: -10px;
}

.home__video {
  width: 100%;
}

.home__map {
  display: block;
  width: 100%;
}

.home__footer {
  color: #fff;
  background-color: #5c0f8b;
}

.index__footer {
  width: 100%;
  background-color: #5c0f8b;
}

.home__footer-container {
  display: flex;
  width: 80%;
  margin: auto;
}

.home__footer-individual {
  width: 100%;
}

.home__contact-title {
  font-size: 3rem;
  font-family: "Franklin Gothic Demi Cond", arial;
  margin-bottom: -5px;
}

.home__contact-img--footer {
  width: 3rem;
}

.home__contact-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.home__contact-description {
  align-self: center;
  color: #fff;
  margin-left: 2rem;
  width: 200px;
  text-align: left;
}

.contact-item__text,
.footer__img-letters {
  text-decoration: none;
}

.mobile__nav {
  background-color: #ff7f30;
}

@media (max-width: 900px){
  .home__start-link{
    display: none;
  }
  .home__contact-img--portrait{
    width: 2rem;
    margin-bottom: 10px;
  }

  .home__section-title {
    font-size: 1.5rem;
  }

  .home__article-container {
    flex-direction: column;
    align-items: center;
  }

  .home__article-individual{
    width: 80%;
  }

  .home__footer-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .home__logo-img{
    width: 200px;
  }

  .home__contact-link{
    width: 100%;
  }

  .home__contact-title{
    font-size: 2rem;
  }

  .home__logo-description {
    padding-left: 10px;
    padding-right: 10px;
  }
}