.contenedor__banner{
  background-image: url(../assets/Banner/1.jpg);
  height: 85vh;
}
.contenedor__logo-servicios{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.contenedor__logo-servicios img{
  margin-top: 4rem;
  width: 10rem;
}

.contenedor__logo-servicios p{
  color:#270089;
  width: 75%;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  font-weight: 600;
}

h1{
  color: white;
  text-align: center;
  font-size: 3rem;
}

.servicios__contact-links {
  background-color: #021d49;
  padding: 5px 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.servicios__contact-link {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  padding: 0px 10px;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
}

.servicios__go-down-container {
  height: 50px;
}

.servicios__go-down-btn {
  margin-top: 2rem;
  padding: 10px 22px;
  background-color: #021d49;
  border-radius: 50%;
  font-size: 60px;
}

.servicios__go-down-btn:hover {
  border: 1px solid #02388a;
  margin-top: 3rem;
  transition: all 1s ease;
}

#flecha{
  margin-top: 3rem;
}



.carta{ 
  margin: 3rem 0 3rem 0;
  flex-basis: 33%;
  border: 1px solid black;
}
.carta__titulo{
  color: white;
  padding: .4rem;
  text-align: center;
}

.carta__titulo h3{
  font-size: 1.3rem;
  margin: 0;
}

.carta__descripcion{
  width: 80%;
  margin: auto;
}
.carta__precio{
  text-align: center;
}

.primer__contenedor{
  width: 70%;
  margin: auto;
}

.primer__contenedor h2{
  margin:0;
  text-align: center;
}

.contenedor__carta-tres{
  display: flex;
}

.carta__tres-uno{
  border: 1px solid #FF7F30;
}

.carta__tres-uno .carta__titulo{
  background-color: #270089;
}

.carta__tres-dos{
  border: 1px solid #FF7F30;
}

.carta__tres-dos .carta__titulo{
  background-color: #FF7F30;
}

.segundo__contenedor{
  width: 50%;
  margin: auto;
}

.segundo__contenedor h2{
  text-align: center;
  margin: 0;
}

.contenedor__carta-dos{
  display: flex;
}

.carta__dos{
  flex-basis: 50%;
}

.contenedor__carta-uno{
  display: flex;
  flex-direction: column;
}

.carta__uno{
  flex-basis: 100%;
}

footer{
  background-color: #021D49;
}
.servicos__footer-contender{
  height: 10%;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.footer__img-letters{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.footer__img-letters img{
  height: 3rem;
  margin: 0 .8rem 0 .8rem;
}

.footer__img-letters p{
  color: white;
  font-size: 1rem;}

