

.servicios__description-container{
  width:80%;
  margin: auto;
  text-align: center;
  margin: 4rem;
}
.servicios__description-title{
  font-size: 2.5rem;
}

.servicios__contenedor{
  margin-top: 6rem;
}

.carta{

}

.primer__contenedor{
  width: 80%;
  margin: auto;
}

.primer__contenedor h2{
  text-align: center;
}

.contenedor__carta-tres{
  display: flex;
}

.segundo__contenedor{
  width: 65%;
  margin: auto;
}

.contenedor__carta-dos{
  display: flex;
}