.somos__portrait {
  background-image: url(./../assets/Banner/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 630px;
  /* overflow: hidden; */
  background-size: cover;
}


.somos__navbar {
  background-color: #021d49;
}

.somos__branch-small-img {
  margin-left: 70px;
  width: 70%;
}

.somos__somos-btn-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  top: 5%;
  margin-top: 40px;
  bottom: unset;
  left: 1%;
  justify-content: center;
  align-items: center;
}

.somos__somos-start-link {
  width: 50%;
  padding: 4px;
  min-width: 120px;
  margin-top: -5px;
  background-color: #fff;
  color: #5c0f8b;
}

.somos__somos-description-container {
  position: absolute;
  top: 15%;
  left: 6%;
  width: 60%;
  left: 20%;
  color: #fff;
}

.somos__branch-large-img {
  width: 30%;
  margin: auto 35%;
  margin-bottom: -40px;
}

.somos__contact-links {
  background-color: #021d49;
  padding: 5px 0px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.somos__contact-link {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  padding: 0px 10px;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
}

.somos__contact-img {
  width: 50px;
  margin: 0px 10px;
}

#somos__description{
  text-align: justify;
  color: #fff;
}

/* Media queries */
@media (max-width: 900px) {
  .somos__somos-description-container {
    width: 70%;
    margin: auto;
    font-size: 13px;
  }

  .somos__branch-large-img {
    width: 40%;
    margin: auto 20%;
    margin-bottom: -40px;
  }

  #somos__description {
    font-size: 16px !important;
    line-height: 25px;
  }

}

@media (max-width: 525px) {

  .somos__branch-large-img {
    width: 60%;
    margin-bottom: -60px;
  }

  #somos__description {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }

  .somos__portrait{
    height: 900px;
  }

}
